<div class="row">
    <h1>My Projects</h1>
    <div class="contenedor">
        <div class="col-xs-11 col-sm-11 col-md-5 col-lg-7 part1">
            <h2>algun nombre de proyecto</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Quam ex velit, laborum perspiciatis eos consequatur nihil 
                nostrum deserunt ut impedit corporis eveniet ipsum harum 
                libero atque officiis inventore corrupti expedita?
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 part2">
            <img src="../../../assets/modelito.png" alt="pic_Project" class="img-fluid imgPro">
        </div>
    </div>
</div>