<div class="row">
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "80"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'HTML'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "80"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'CSS'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "50"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'JS'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "40"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'TS'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "80"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'GitHub'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "50"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'English'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
    <div class="text-center col-md-4 col-lg-3">
        <circle-progress
            [percent] = "90"
            [radius] ="60"
            [space] = "-10"
            [outerStrokeGradient] ="true"
            [outerStrokeWidth] ="10"
            [outerStrokeColor] ="'#4882c2'"
            [outerStrokeGradientStopColor] ="'#53a9ff'"
            [innerStrokeColor] ="'#e7e8ea'"
            [innerStrokeWidth] ="10"
            [title] ="'collaborative'"
            [showSubtitle] ="false"
            [animateTitle] ="false"
            [animationDuration] ="1000"
            [showUnits] ="false"
            [showBackground] ="false"
            [clockwise] ="false"
            [startFromZero] ="false"
            [lazy] ="true">
        </circle-progress>
    </div>
</div>