<div class="row">
    <h1>Education</h1>
    <div class="col">
        <ul>
            <li><h1>Study 1</h1> - <h3>(years)</h3></li>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Dicta, culpa laboriosam suscipit quia numquam natus animi!
             Enim delectus expedita totam, provident culpa obcaecati 
             saepe, commodi veritatis eligendi adipisci ratione ullam.
            </p>
        </ul><ul>
            <li><h1>Study 2</h1> - <h3>(years)</h3></li>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Dicta, culpa laboriosam suscipit quia numquam natus animi!
             Enim delectus expedita totam, provident culpa obcaecati 
             saepe, commodi veritatis eligendi adipisci ratione ullam.
            </p>
        </ul><ul>
            <li><h1>Study 3</h1> - <h3>(years)</h3></li>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Dicta, culpa laboriosam suscipit quia numquam natus animi!
             Enim delectus expedita totam, provident culpa obcaecati 
             saepe, commodi veritatis eligendi adipisci ratione ullam.
            </p>
        </ul>
    </div>
</div>

