<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2" >
        <img src="../../../assets/Gati-portada.jpg" class="img-fluid" id="portada">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2">
        <p class="nom"><strong>Felix Bartolome Nuñez</strong></p>
        <P class="nom"><strong>Developer</strong></P>
        <p><strong class="nom">Full Stack Jr</strong> </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <span>
            <h1>About me</h1>
            <p id="presentacion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, eius corporis! Velit odio rem sit doloribus pariatur dignissimos, corrupti veritatis provident eum nobis magnam repudiandae fugit qui fugiat, suscipit obcaecati.
            </p>
        </span>
    </div>
</div>